# Answer 1

In [1]:
a = 0

def b():
 global a
 a = c(a)
    
def c(a):
 return a + 2

b()
b()
b()
a

6

The letter 'a' is treated as a global variable for the function. when 'b' is called it would take into consideration the value of 'a' which is defined in the fuction c which is a+2. hence, for the first time when we call the function b it would give the answer as 2 since it takes into consideraton the initial  value which is assigned to a and is added in the function to give us c(a)= 0+2; thenafter, when second time the function b is called, the function would now take the value of a as 2 and will add 2 to it to  give us the answer 4. and lastly, the third function when called would give us our answer as 6 since the function now takes the value of a as 4.

This depicts that the a has a global scope.

# Answer 2

In [32]:
def fileLength(filename1):
    
    try:
        with open(filename1) as f:
            print(len(f.readlines()))
              
    except:
        print("The file oodtype1.txt not found" )
fileLength('bloodtype1.txt')
fileLength('oodtype1.txt')

1
The file oodtype1.txt not found

# Answer 3

In [34]:
class Marsupial:
   
    def __init__(self):
        self.pouch = []
        
    def put_in_pouch(self, content):
        self.pouch.append(content)
        
    def pouch_contents(self):
        
        return(self.pouch)
    
class Kangaroo(Marsupial):
    
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y
    
    def jump(self, x, y):
        self.x += x
        self.y += y
    
    def __str__(self):
        
        return "I am a Kangaroo located at coordinates ({},{})".format(self.x, self.y)

    
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

k = Kangaroo(0,0)

print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

print(k)

I am a Kangaroo located at coordinates (0,0)
I am a Kangaroo located at coordinates (3,0)

# Answer 4

In [ ]:
from tkinter import *
root = Tk()

class Mortgage(Frame):

    def __init__(self, master):
        
        Frame.__init__(self, master)
        labelLOAN_AMOUNT =Label(self,padx=15,text= 'Loan Amount:')
        labelLOAN_AMOUNT.grid(row=1, column=0, columnspan=4)
        
        entryLOAN_AMOUNT= Entry(self)
        entryLOAN_AMOUNT.grid(row=1, column=4, columnspan=4)


        labelInterestrate1 =Label(self,padx=15,text= 'Interest Rate:')
        labelInterestrate1.grid(row=2, column=0, columnspan=4)
        
        entryInterestrate1= Entry(self)
        entryInterestrate1.grid(row=2, column=4, columnspan=4)


        labeltermforloan =Label(self,padx=15,text= 'Loan Terms:')
        labeltermforloan.grid(row=3, column=0, columnspan=4)
        
        entrytermforloan= Entry(self)
        entrytermforloan.grid(row=3, column=4, columnspan=4)


        buttonCompute_Mortage =Button(self,padx=15,text= 'Compute Mortgage')
        buttonCompute_Mortage.grid(row=4, column=0, columnspan=4)
        
        entryCompute_Mortage= Entry(self)
        entryCompute_Mortage.grid(row=4, column=4, columnspan=4)
        
class Calculator(Frame):

    def __init__(self, master):
        Frame.__init__(self, master)
        
        entryLOAN_AMOUNT= Entry(self)
        entryLOAN_AMOUNT.grid(row=0, column=0, columnspan=4)

        numbers = [['MC',  'M+', 'M-', 'MR'],
           ['C', '\u221A','x\u00b2','+'],
           ['7','8','9','-'],
           ['4', '5','6','*'],
           ['1','2', '3', '/'],
           ['0', '.', '+-', '=']
          ]
        for r in range(6):
            for c in range(4):
                button= Button(self,padx=10,width=5,text= numbers[r][c])
                button.grid(row=r+1, column=c)
                
mortgage = Mortgage(root)
mortgage.pack(side=LEFT)

calculator = Calculator(root)
calculator.pack(side=RIGHT)


root.mainloop()

# Answer 5

In [5]:
def collatz(x): 

    while x != 1: 
        print(x, end = '\n') 
  
        if x & 1: 
            x = 3 * x + 1

        else: 
            x = x // 2
 
    print(x) 
print('Taking x=1')
collatz(1)

print('Taking x=10')
collatz(10)

Taking x=1
1
Taking x=10
10
5
16
8
4
2
1

# Answer 6

In [21]:
def binary(x): 
    
    if x == 0: 
        return 0
    
    else: 
        return (x % 2 + 10 * binary(int(x // 2)))
                 


    print(binary(x))

In [22]:
binary(0)

0

In [23]:
binary(9)

1001

In [24]:
binary(1)

1

# Answer 7

In [59]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    
    def __init__(self):
        HTMLParser.__init__(self)
        self.headingTag1=""
    
    def handle_starttag(self,tag,attrs):
        self.headingTag1=tag
        
    def handle_data(self, data):
        if(self.headingTag1=="h1"):
            print(data)
            self.headingTag1=""
        elif(self.headingTag1=="h2"):
            print(' ' *1,data)
            self.headingTag1=""
        elif(self.headingTag1=="h3"):
            print(' ' * 2,data)
            self.headingTag1=""
        elif(self.headingTag1=="h4"):
            print(' ' * 3,data)
            self.headingTag1=""
        elif(self.headingTag1=="h5"):
            print(' ' * 4,data)
            self.headingTag1=""
        elif(self.headingTag1=="h6"):
            print(' ' * 5,data)
            self.headingTag1=""
      
                    
infile = open('W3C.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

UnicodeDecodeError: 'charmap' codec can't decode byte 0x9d in position 37540: character maps to <undefined>

# Answer 9

In [15]:
import sqlite3
CON1 = sqlite3.connect('web1.db')
CUR1 = CON1.cursor()
CUR1.execute("CREATE TABLE Weather_data (City text,Country text,Season text,Temperature float,Rainfall float)")
CUR1.execute("INSERT INTO Weather_data VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
CUR1.execute("INSERT INTO Weather_data VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
CUR1.execute("INSERT INTO Weather_data VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
CUR1.execute("INSERT INTO Weather_data VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
CUR1.execute("INSERT INTO Weather_data VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
CUR1.execute("INSERT INTO Weather_data VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
CUR1.execute("INSERT INTO Weather_data VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
CUR1.execute("INSERT INTO Weather_data VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
CUR1.execute("INSERT INTO Weather_data VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
CUR1.execute("INSERT INTO Weather_data VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
CUR1.execute("INSERT INTO Weather_data VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
CUR1.execute("INSERT INTO Weather_data VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")
CON1.commit()
CON1.close()

# A

In [30]:
import sqlite3
CON1 = sqlite3.connect('web1.db')
CUR1 = CON1.cursor()
CUR1.execute('SELECT Temperature FROM Weather_data')
CUR1.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

# B

In [31]:
import sqlite3
CON1 = sqlite3.connect('web1.db')
CUR1 = CON1.cursor()
CUR1.execute('SELECT DISTINCT City FROM Weather_data')
CUR1.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

# C

In [32]:
import sqlite3
CON1 = sqlite3.connect('web1.db')
CUR1 = CON1.cursor()
CUR1.execute("SELECT * FROM Weather_data WHERE Country = 'India'")
CUR1.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

# D

In [33]:
import sqlite3
CON1 = sqlite3.connect('web1.db')
CUR1 = CON1.cursor()
CUR1.execute("SELECT * FROM Weather_data WHERE Season = 'Fall'")
CUR1.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

# E

In [34]:
import sqlite3
CON1 = sqlite3.connect('web1.db')
CUR1 = CON1.cursor()
CUR1.execute("SELECT City,Country,Season,Rainfall FROM Weather_data WHERE Rainfall BETWEEN 200 AND 400")
CUR1.fetchall()

[('Mumbai', 'India', 'Fall', 346.0),
 ('London', 'United Kingdom', 'Winter', 207.7),
 ('London', 'United Kingdom', 'Fall', 218.5)]

# F

In [35]:
import sqlite3
CON1 = sqlite3.connect('web1.db')
CUR1 = CON1.cursor()
CUR1.execute("SELECT City,Country FROM Weather_data WHERE Season='Fall' AND Temperature >= 20 ORDER BY Temperature ASC")
CUR1.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

# G

In [36]:
import sqlite3
CON1 = sqlite3.connect('web1.db')
CUR1 = CON1.cursor()
CUR1.execute("SELECT SUM(Rainfall) FROM Weather_data WHERE City = 'Cairo'")
CUR1.fetchall()

[(27.6,)]

# H

In [37]:
import sqlite3
CON1 = sqlite3.connect('web1.db')
CUR1 = CON1.cursor()
CUR1.execute("SELECT SUM(Rainfall) FROM Weather_data")
CUR1.fetchall()

[(2697.8999999999996,)]

# Answer 10

In [41]:
def Upper(WORD):
    for a in range(len(WORD)):
        WORD[a]=WORD[a].upper()
    return WORD

def Lower(WORD):
    for a in range(len(WORD)):
        WORD[a]=WORD[a].lower()
    return WORD

def Length(WORD):
    list=[]
    for a in range(len(WORD)):
        list.append(len(WORD[a]))
    return list

def Low_Up_Len(WORD):
    list=[]
    temp=[]
    for a in range(len(WORD)):
        temp.append(WORD[a].upper())
        temp.append(WORD[a].lower())
        temp.append(len(WORD[a]))
        list.append(temp)
        temp=[]
    return list

def more_four(WORD):
    list=[]
    for a in range(len(WORD)):
        if len(WORD[a])>=4:       
            list.append(WORD[a])
    return list

WORD = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

print("List in Uppercase: ",Upper(WORD))
print("List in Lowercase: ",Lower(WORD))
print("List lengths: ",Length(WORD))
print("List of Upper Lower and length: ",Low_Up_Len(WORD))
print("List having 4 ot more than 4 character: ",more_four(WORD))

List in Uppercase:  ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
List in Lowercase:  ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
List lengths:  [3, 5, 5, 3, 5, 4, 3, 4, 3]
List of Upper Lower and length:  [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
List having 4 ot more than 4 character:  ['quick', 'brown', 'jumps', 'over', 'lazy']